#header {
  background-image: url(../img/pizza.jpg);
  background-size: contain;
}

.page-header {
  text-align: center;
}

#customer-name,
#pizza-size {
  max-width: 50%;
  margin-right: 2%;
}

.my-alert {
  max-width: 50%;
  margin-bottom: 2%;
  padding: 2% 2% 1% 4%;
  font-size: .8em;
  border-radius: 5px;
}

#size-alert,
#name-alert {
  display: none;
}

#output {
  display: none;
}

#total {
  text-decoration: underline;
}
